name: Build and publish Docker image

on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile

jobs:
  dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Get repository contents
        uses: actions/checkout@v4

      - name: Authenticate with Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            nathansihombing17/dsci310-ia3-nathansihombing-docker:latest
            nathansihombing17/dsci310-ia3-nathansihombing-docker:${{ github.run_number }}
